<a href="https://colab.research.google.com/github/GiangAnhTuan-20146450/Bai-Tap-AI/blob/main/AI_W3_17_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name'] = ['Lemon','Apple','Banana']
dataframe['Price'] = [5,8,7]
dataframe['License'] = [False,True, True]
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
dataframe.shape

(3, 3)

In [ ]:
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
list(df.columns)

['Name', 'Price', 'License']

In [ ]:
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
df.loc[(df.Price == 5)]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price == 5)| (df.Name == 'Banana')]

     Name  Price  License
0   Lemon      5    False
2  Banana      7     True

In [ ]:
df.loc[(df.Price == 5)| (df.Name == 'Banana'), ['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
df.iloc[[2]]

     Name  Price  License
2  Banana      7     True

In [ ]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:2,0:-1]

    Name  Price
0  Lemon      5
1  Apple      8

In [ ]:
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
new = pd.Series(['Orange',10,True], index=['Name','Price','License'])
dataframe.append(new, ignore_index=True)

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     10     True

In [ ]:
dataframe['Location'] = ['USA','VN','SIN']
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN

In [ ]:
dataframe.drop(1, axis=0).head(10)

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True      SIN

In [ ]:
dataframe.drop('Location', axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
dataframe.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True      SIN

In [ ]:
import pandas as pd
ha = 'medals.csv'
dataframe = pd.read_csv(ha)
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
data=dataframe
data[(data['Year']>=1990)&(data['Year']<=2006) & (data['NOC']=='USA')&(data['Event gender']=='W')&(data['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1428,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
1430,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
1431,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
1432,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
1436,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
1610,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
1612,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
1613,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
1617,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
1812,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [ ]:
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
data = data.set_index(data['NOC'])
data.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver